extends base

block vars
  - var title = 'Register'

block content
  div.container
   div.card.card-container
    h2.login_title.text-center Create an Account
    hr
    if error
     p ERROR: #{error}

    form.form-signin(method="post")
     input(type="hidden", name="_csrf", value=csrfToken)

     span.input_title First Name:
     input(type="text", name="firstName", required=true)
     br

     span.input_title Last Name:
     input(type="text", name="lastName", required=true)
     br

     span.input_title Email:
     input(type="email", name="email", required=true)
     br

     span.input_title Password:
     input(type="password", name="password", required=true)
     br

     input(class="btn btn-lg btn-primary" type="submit")